<%= form_with model: student do |form| %>

    <% if @student.errors.any? %>
        <% @student.errors.full_messages.each do |message| %>
            <p><%= message %></p>
        <% end %>
    <% end %>
    <div>
        <%= form.label :first_name %><br>
        <%= form.text_field :first_name %>
    </div>

    <div>
        <%= form.label :last_name %> <br>
        <%= form.text_field :last_name %>
    </div>

    <div>
        <%= form.label :email %><br>
        <%= form.email_field :email %>
    </div>

    <div>
        <%= form.label :age %><br>
        <%= form.number_field :age %>
    </div>

    <div>   
        <%= form.label :gender %><br>
        <%= form.select :gender, ['Male', 'Female', 'Other'] %>
    </div>

    <div>
        <%= form.label :date_of_birth %><br>
        <%= form.date_field :date_of_birth %>
    </div>

    <div>
        <%= form.label :subjects, "Subjects" %><br>
        <% available_subjects = ['Math', 'Science', 'Hindi', 'English']%>
        <% available_subjects.each do |subject| %>
            <%= check_box_tag "student[subjects][]", subject, @student.subjects&.include?(subject) %>
            <%= label_tag "student_subjects_#{subject}", subject %><br>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>

        
<% end %>